body {
    margin: 0;
    font-family: system-ui, 'Open Sans';
}

header {
    background-image: url("/layout-01-assets/img11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100vw;
    & p {
        text-align: center;
        color: white;
        margin-top: 10px;
        font-size: 25px;
        text-shadow: 1px 1px black;
    }
}

.services {
    display: flex;
    flex-flow: column;
    background-image: url("/layout-01-assets/img13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh / 3);
    width: 100vw;
    align-items: center;
    & h2 {
        text-shadow: 2px 3px #AAAAAA;
        font-weight: 400;
    & ~ p {
        justify-self: center;
        align-self: center;
        text-align: center;
        color: white;
        font-size: 20px;
        max-width: 40%;
        }
    }
}

.contact {
    display: flex;
    flex-flow: column;
    background-image: url("/layout-01-assets/img14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
    width: 100vw;
    align-items: center;
    & article {
        background-color: #ffffff50;
        backdrop-filter: blur(10px);
        width: calc(100vw / 3);
        margin: 25px;
        border-radius: 5px;
        & h2 {
            margin-bottom: 50px;
        }
        & p {
            padding: 15px;
            text-align: center;
        }
    }
    & form {
        width : calc(100vw / 3);
        display: grid;
        grid-template: "name message" 1fr
                       "email message" 1fr
                       "subject message" 1fr
                       ". send" 1fr / 1fr 1fr;
        gap: 15px;
        margin-bottom: 20px;
        & input {
            background-color: #ffffff50;
            backdrop-filter: blur(10px);
            border: none;
            
            color: #000000;
            border-radius: 5px;
        }
        & [placeholder="Name"] {
            grid-area: name;
        }
        & [placeholder="Email"] {
            grid-area: email;
        }
        & [placeholder="Subject"] {
            grid-area: subject;
        }
        & [placeholder="Subject"] {
        grid-area: subject;
        }
        & textarea {
            grid-area: message;
            background-color: #ffffff50;
            backdrop-filter: blur(10px);
            border: none;
            color: #000000;
            border-radius: 5px;
        }
        & [type="submit"] {
            grid-area: send;
            width: calc(100vw / 18);
            background-color:#262628;
            color: #ffffff;
            padding: 10px;
        }
        & *::placeholder {
            color: #000000;
        }

    }
    & h2 {
    text-shadow: 2px 3px #000000;
    }
}

input[type="text"], textarea {
    padding: 5px;
}

main {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-bottom: 50px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    overflow: hidden;
    background-color: #383E4C;
    justify-content: center;
    & li {
        padding: 5px 5px;
        & a {
            display: inline;
            padding: 10px 15px;
            color: white;
            text-align: center;
            text-decoration: none;
            border: 2px solid #646D7C;
        }
        & a:hover {
            background-color: #49505F;
        }
    }
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: 0;
    text-shadow: 2px 3px black;
    padding: 0;
    font-weight: 400;
}

h2 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 50px;
    margin-bottom: 0px;
    padding: 0;
}

footer{
    width: 100vw;
    & h2 {
        color: #666666;
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
    }
    & p {
        color: #999999;
        text-align: center;
        font-style: italic;
        font-weight: 400;
        font-size: 10x;
    }
}

hr {
    height: 1px;
    background-color: #eeeeee;
}

.set-of-one {
    width: 60vw;
    align-self: center;
    padding: 10px;
    & .card a {
        align-self: flex-start;
    }
}

.set-of-two {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    width: 60vw;
    align-self: center;
    padding: 10px;
    & h3 {
        text-align: center;
    }
    & .card:nth-of-type(2) a {
        align-self: flex-end;
        margin-right: 12.5%;
    }
}

.set-of-three {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    width: 60vw;
    align-self: center;
    padding: 10px;
    & .card:nth-child(1) h3 {
        color: #178A27;
    }
    & .card:nth-child(2) h3 {
        color: #1686C1;    
    }
}

.set-of-four {
    display: grid;
    grid-template-columns: repeat(4, 15vw);
    width: 60vw;
    align-self: center;
    padding: 10px;
    & h3 {
        text-align: center;
    }
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: #f2f2f2;
    margin: 20px;
    & h3 {
        color: #666666;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-left: 10px;
    }
    & p:last-of-type {
        margin-bottom: auto;
    }
    & p {
        font-size: 12px;
        color: #565656;
        padding-left: 10px;
        padding-right: 10px;
    }
}

button::content{
    align-self: flex-start;
}

.button-green {
    background-color: #178A27;
    color: white;
}

.button-red {
    background-color: #852406;
    color: white;
}

.button-blue {
    background-color: #1686C1;
    color: white;
}

.button-white {
    background-color: #FFFFFF;
    color: #6F6F6F;
}

.button {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    align-self: center;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin: 15px;
    text-align: center;
    align-self: center;
}